<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro de Produtos</title>
</head>
<body>
    <header>
        <div id="title">
            <img class="logo" src="logo.png" alt="ACIDSTORE logo">
            <img class="weed2" src="weed.png" alt="ACIDSTORE weed">
            <img class="weed1" src="weed.png" alt="ACIDSTORE weed">
        </div>
        <ul>
            <a href="/index">Home</a>
            <a href="/products">Products</a>
            <a href="/carrinho">Carrinho</a>
            <a href="/sobre">Sobre</a>
        </ul>
    </header>
    <div class="container">
        <h2>Cadastro de Produtos</h2>
        <form action="/submit_product" method="post" enctype="multipart/form-data">
            <label for="productName">Nome do Produto:</label>
            <input type="text" id="productName" name="productName" required>

            <label for="productDescription">Descrição do Produto:</label>
            <textarea id="productDescription" name="productDescription" required></textarea>

            <label for="productPrice">Preço do Produto:</label>
            <input type="number" id="productPrice" name="productPrice" required>

            <label for="productImage">Imagem do Produto:</label>
            <input type="file" id="productImage" name="productImage" accept="image/*" required>

            <label for="productCategory">Categoria do Produto:</label>
            <input type="text" id="productCategory" name="productCategory" required>

            <button type="submit">Cadastrar Produto</button>
        </form>
        
    </div>

    <a href="/index" class="back">Back</a>
<h2>ola</h2>
</body>
    </html>
    <footer>
        <p>&copy; 2024 GOING. All rights reserved.</p>
    </footer>