<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">


    <title>GOING</title>
</head>
<body>
    <header>
        <div id="title">
            <img class="logo" src="logo.png" alt="ACIDSTORE logo">
            <img class="weed2" src="weed.png" alt="ACIDSTORE weed">
            <img class="weed1" src="weed.png" alt="ACIDSTORE weed">
        </div>
        <ul>
            <a href="/index">Home</a>
            <a href="/products">Products</a>
            <a href="/carrinho">Carrinho</a>
            <a href="/sobre">Sobre</a>
        </ul>
    </header>


    <section id="featured-products">


        <!-- Seção de categorias -->

        
        <article class="product">
            <img src="tabacaria.png" alt="Produto 1">
            <h2>TABACARIA</h2>
            <p><strong>Alta qualidade no tabaco e<br>acessórios para melhorar sua experiência.</strong></p>
            <a href="tabacaria" class="product-button">Ver mais</a>
        </article>
        
        <article class="product">
            <img src="eletronicos.png" alt="Produto 2">
            <h2>ELETRÔNICOS</h2>
            <p><strong>Gadgets inovadores para uma vida mais inteligente.<br>Eleve sua experiência com eletrônicos de última geração</strong></p>
            <a href="eletronicos" class="product-button">Ver mais</a>
        </article>
        
        <article class="product">
            <img src="acessorios.png" alt="Produto 3">
            <h2>ACESSÓRIOS</h2>
            <p><strong>Estilo único com acessórios exclusivos.<br>Descubra peças que transformam o seu visual.</strong></p>
            <a href="acessorios" class="product-button">Ver mais</a>
        </article>
        
        <article class="product">
            <img src="papelaria.png" alt="Produto 4">
            <h2>PAPELARIA</h2>
            <p><strong>Estilo e organização em cada detalhe.<br>Explore nossa papelaria exclusiva para inspirar o seu dia.</strong></p>
            <a href="papelaria" class="product-button">Ver mais</a>
        </article>
        
        <article class="product">
            <img src="roupas.png" alt="Produto 4">
            <h2>ROUPAS</h2>
            <p><strong>Moda autêntica para expressar seu estilo.<br> Encontre peças que refletem sua personalidade.</strong></p>
            <a href="roupas" class="product-button">Ver mais</a>
        </article>
        

        <!-- Adicione mais produtos conforme necessário -->

    </section>

    <footer>
        <p>&copy; 2024 GOING. All rights reserved.</p>
    </footer>

    <script src="/script.js"></script>
    <script src="/login.js"></script>
    <script src="/index.js"></script>
    

    <div id="cart"></div>

</body>
</html>
