

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>GOING</title>
</head>
<body>
    <header>
        <div id="title">
            <img class="logo" src="logo.png" alt="ACIDSTORE Logo">
            <img class="weed2" src="weed.png" alt="ACIDSTORE boca">
            <img class="weed1" src="weed.png" alt="ACIDSTORE weed">
        </div>
        <ul>
            <a href="/index">Home</a>
            <a href="/products">Products</a>
            <a href="/carrinho">Carrinho</a>
            <a href="/sobre">Sobre</a>
        </ul>
    </header>
    <a href="/index" class="back">Back</a>
</body>
    </html>
    <footer>
        <p>&copy; 2024 GOING. All rights reserved.</p>
    </footer>